<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/leaderboard.css">
</head>
<body>


    <div class="leaderboardContainer">
        <h1>LEADERBOARD</h1>
        <div id="leaderboard">
            <div class="row">
                <div class="col1">
                    <p>
                        Name
                    </p>
                </div>
                <div class="col2">
                    <p>
                        Score
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <p>Player1<p>
                </div>
                <div class="col2">
                    <p>8</p>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <p>
                        Player2
                    </p>
                 </div>
                <div class="col2">
                    <p>7</p>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <p>Player3</p>
                </div>
                <div class="col2">
                    <p>7</p>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <p>Player4</p>
                </div>
                <div class="col2">
                    <p>5</p>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <p>Player5</p>
                </div>
                <div class="col2">
                    <p>4</p>
                </div>
            </div>


        </div>
        <button id="back-home">BACK TO HOME</button>

    </div>
    
    <script src="./scripts/leaderboard.js"></script>
</body>
</html>