<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/leaderboard.css">
    <link rel="icon" type="image/png" href="./simon-logo.png">
</head>
<body>


    <div id="page-content">

        
        <div class="leaderboardContainer">
            <h1>LEADERBOARD</h1>
            <div id="leaderboard">
                
                <div class="row">
                    <div class="col1">
                        <p>
                            Name
                        </p>
                    </div>
                    <div class="col2">
                        <p>
                            Score
                        </p>
                    </div>
                </div>
                <% for(let i=0; i < userScores.length; i++){%>
                    <div class="row">
                        <div class="col1">
                            <p><%= userScores[i].username %><p>
                            </div>
                            <div class="col2">
                                <p><%= userScores[i].score %></p>
                            </div>
                        </div>
                        
                        <%} for(let e=0; e < 5 - userScores.length; e++){%>
                            <div class="row">
                                <div class="col1">
                                    <p>-<p>
                                    </div>
                                    <div class="col2">
                                        <p>-</p>
                                    </div>
                                </div>
                                <%}%>
                                
                                
                                <% if(locals.personalBest !== undefined){%>
                                    <div class="row personal-best">
                                        <h2>Personal Best: <%=personalBest%></h2>
                                    </div>
                                <%}%>

                            </div>

                            

                            <button id="back-home">BACK TO HOME</button>
                            
                        </div>
    </div>
    
    <script src="./scripts/leaderboard.js"></script>
</body>
</html>