<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/login.css" >
    <link rel="icon" type="image/png" href="./simon-logo.png">
</head>
<body>
    <div class="back-to-home-nav">
        <i class="fa-solid fa-arrow-left"></i>
        <p>Home</p>

    </div>
    <form method="post" action="/sign_in">
        <h1>SIGN IN</h1>

        <input placeholder="Email" name="email" required type="email">
        <input placeholder="Password" name="password" required type="password">
        <button type="submit">SIGN IN</button>
        <a>Forgot password?</a>
        <p>Don't have an account? <a href="/sign_up">Sign Up</a></p>
    </form>



    
    <script src="https://kit.fontawesome.com/3aef64bd14.js" crossorigin="anonymous"></script>  
    <script src="./scripts/login.js"></script>  
</body>
</html>
