<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/login.css" >
</head>
<body>
    <div class="back-to-home-nav">
        <i class="fa-solid fa-arrow-left"></i>
        <p>Home</p>

    </div>
    <form method="post" action="/sign_up">
        <h1>SIGN UP</h1>

        <input placeholder="Username" required type="text" name="username">
        <input placeholder="Email" required type="email" name="email">
        <input placeholder="Password" required type="password" name="password">
        <button type="submit">SIGN UP</button>
        <p>Already have an account? <a href="/sign_in">Sign In</a></p>
    </form>



    
    <script src="https://kit.fontawesome.com/3aef64bd14.js" crossorigin="anonymous"></script>  
    <script src="./scripts/signup.js"></script>  
</body>
</html>
